In [7]:
# Jupyter Notebook, BeautifulSoup, Pandas, and Requests/Splinter.
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import requests
from splinter import Browser
import os

In [8]:
!which chromedriver

/usr/local/bin/chromedriver

In [9]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
nfd_url="https://www.atf.gov/resource-center/data-statistics"
browser.visit(nfd_url)
html=browser.html 
soup=bs(html, 'html.parser')

# Number of NFA Firearms Processed by Fiscal Year

In [11]:
df=pd.read_html(nfd_url)
num_firarms_own_df=df[3]
num_firarms_own_df

    Fiscal Year  Firearms Processed
0          2018             1422353
1          2017             1607952
2          2016             2538397
3          2015             1426211
4          2014             1383677
5          2013             1152163
6          2012             1112041
7          2011              992975
8          2010              828462
9          2009              834328
10         2008              981303
11         2007              563127
12         2006              296127

In [17]:
num_firearms=num_firarms_own_df.drop([6,7,8,9,10,11,12])
num_firearms

   Fiscal Year  Firearms Processed
0         2018             1422353
1         2017             1607952
2         2016             2538397
3         2015             1426211
4         2014             1383677
5         2013             1152163

In [18]:
# num_firarms_own=num_firarms_own_df.to_html('table.html')
num_firearms
num_firearms.rename(columns={'Fiscal Year': 'Fiscal_Year','Firearms Processed':'Firearms_Processed'})

   Fiscal_Year  Firearms_Processed
0         2018             1422353
1         2017             1607952
2         2016             2538397
3         2015             1426211
4         2014             1383677
5         2013             1152163

In [19]:
num_firarms_json=num_firearms.to_json(orient='records')
num_firarms_json

'[{"Fiscal Year":2018,"Firearms Processed":1422353},{"Fiscal Year":2017,"Firearms Processed":1607952},{"Fiscal Year":2016,"Firearms Processed":2538397},{"Fiscal Year":2015,"Firearms Processed":1426211},{"Fiscal Year":2014,"Firearms Processed":1383677},{"Fiscal Year":2013,"Firearms Processed":1152163}]'

In [20]:
num_firearms.to_json(r'static/data/num_firarms.json')

In [21]:
num_firearms.to_html('table.html')